.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav {
  background-color: #C9C9C9;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full-width nav */
  display: flex;
  justify-content: center; /* Centers the navigation items */
  align-items: center;
}

/* Make sure the navbar list displays items horizontally */
.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Ensures horizontal alignment */
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Center the logo container and limit the image size */
.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-container img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style the navigation items */
.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #a0c796;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
